.AddProperty {
  display: block;
  background-color: white;
  width: 50%;
  margin: auto;
  padding: 0.5em 2em 2em 2em;
  align-self: flex-start;
  box-shadow: 0px 0px 5px rgb(64, 211, 143);
  font-size: 0.8em;
  border-radius: 1em;
  margin-top: 1em;
  }

.Success {
  color: green;
  background-color: rgb(125, 218, 125);
  /* border: 1px solid green; */
}

.Error {
  color: red;
  background-color: rgb(248, 143, 143);
  /* border: 1px solid red; */
}

.proppage {
  display: block;
  margin-top: none;
  margin-bottom: 1em;
}

input {
  display: block;
  margin: 0.5em 0em;
  border-radius: 0.5em;
  /* padding: 2em 0em; */
  background-color: rgba(88, 226, 162, 0.171);
  width: auto;
}

input:focus {
  background-color: rgba(88, 226, 162, 0.171);
}

select {
  background-color:  rgb(88, 226, 162);
  display: block;
  margin: 0.5em 0em;
  /* margin: auto; */
  border-radius: 0.5em;
  /* padding: 2em 0em; */
  max-width: 10em;
}

.addpropbutton {
  background-color: rgb(64, 211, 143);
  border-radius: 1em;
  padding: 0.3em;
}

button:hover {
  background-color: white;
}
