.AddProperty {
  padding: 2em;
  margin: .5em;
  background-color: rgb(255, 47, 0);
  width: 50%;
  border-radius: 1em;
  font-size: 12px;
  color: rgb(141, 152, 151);
  text-shadow: 0px 2px 10px black;
  border: .2em solid rgb(141, 152, 151);
}

.proppage {
  font-size: 2em;
  margin-bottom: .5em;
}

input {
  margin: .5em 1em;
  display: block;
}

select {
  margin: .5em 1em;
  display: block;
  font-size: 1.2em;
}

button {
  margin: .5em 1em;
}
