body {
  /* display: flex; */
  font-family: 'Nunito', sans-serif;
  background-color: rgb(244, 244, 244);
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(64, 211, 143);
  color: rgb(0, 0, 0);
  padding: 0.2em 1em;
  /* height: 4em; */
  align-self: auto;
}

.title {
  margin-left: 1em;
}

