body {
  display: flex;
  font-family: 'Nunito', sans-serif;
  background-color: rgb(244, 244, 244);
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  /* align-content: space-around; */
  margin: 0.3em;
  overflow-x: hidden;
  flex-wrap: wrap;
  min-width: 260px;
}

.header {
  display: flex;
  background-color: rgb(64, 211, 143);
  color: rgb(0, 0, 0);
  height: 90%;
  width: 100%;
}

.title {
  margin-left: 1em;
}

