.NavBar {
  display: flex;
  background-color: rgb(64, 211, 143);
  justify-content: center;
  margin-top: 1em;
  margin-left: 0;
  margin-right: 0;
  width: auto;
}

ul {
  padding: 0.5em;
}

.link {
  margin: 1em;
  /* margin: auto; */
  text-decoration: none;
  color: inherit;
}

.link:hover {
  background-color: black;
  color: rgb(64, 211, 143);
  border-radius: 0.5em;
}
