.main {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin: 0em 0.1em;
  padding: 1em;
  color: black;
  background-color: white;
  width: 25%;
}

.search {
  display: inline-flex;
  margin-right:0.2em;
  flex-wrap: wrap;
  /* height: 1em; */
}

.searchinput {
  width: 80%;
}

.searchbutton {
  background-color: rgb(111, 231, 175);
  color: white;
  padding-top: 0.4em;
  border-radius: 0.8em;
  font-size: 0.6em;
}

.searchbutton:hover {
  color: black;
}

.filter {
  display: flex;
  margin-top: 1em;
}

.filtercity {
  display: block;
  margin: 1em;
  color: black;
  font-size: 0.9em;
}

.filtercity:hover {
  background-color: rgb(111, 231, 175);
  border-radius: 1em;
  margin-right: 1em;
  padding: 0em 0.4em;
}

.sorttitle {
  margin-top: 1em;
}

.sortBy {
  display: block;
}

.sortbylink {
  display: block;
  margin: 1em;
  color: black;
  font-size: 0.9em;
}

.sortbylink:hover {
  background-color: rgb(111, 231, 175);
  border-radius: 1em;
  margin-right: 1em;
  padding: 0em 0.4em;
}

.propscontainer {
  display: flex;
  height: 100%;
}

.properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.3em 0.15em;
  width: 98%;
}

.col {
  display: flex;
  height: 100%;
  width: 31%;
  min-width: 31%;
  margin: 0.15em 0.25em;
  flex-grow: 2;
}



